* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 5px;
}

.col-0 {padding:0px;display:none;}
.hidden{display:none;}

.success{background-color:#47da22!important;color: #fff!important;}
.error{background-color:#da2222!important;color: #fff!important;}

.text-left{text-align:left;}
.text-center{text-align:center;}
.text-right{text-align:right;}

.cursor-pointer{
	cursor:pointer;
	text-decoration: underline;
    color: #ff8800
}

.padding-0{padding:0px 0px 0px 0px!important;}
img {
	width: 100%;
    max-width: 100%;
    height: auto;
}

html {
    font-family: Arial,"Lucida Sans", sans-serif;
}
body{
	margin:0px;
	padding:0px;
	font-size:16px;
}
.btn {
	border: none;
	background-color: #3498db;
	border-radius: 3px;
	color: #ffffff;
	width:100%;
	padding: 5px 10px;
	text-decoration: none;
	margin: 0px 5px 5px 0px;
	font-size: 100%;
}

.active {
  background-color: #9933cc;
  text-decoration: none;
}


/* For mobile phones: */
@media only screen and (max-width: 590px) {
	body{font-size:100%;}
	[class*="col-"]{width:100%}
	#available-cards{width:100%;height:40vh!important;}
	#details{width:100%;}
}

/* For small tablet: */
@media only screen and (min-width: 591px) and (max-width: 700px) {
	body{font-size:100%;}
	.col-0 {width:0%;}
	.col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
	
	#available-cards{width:100%;height:40vh!important;}
	#details{width:100%;}
}

/* For tablet: */
@media only screen and (min-width: 701px) and (max-width: 960px) {
	body{font-size:100%;}
	.col-0 {width:0%;}
	.col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* For desktop: */
@media only screen and (min-width: 961px) and (max-width: 1200px) {
	body{font-size:100%;}
	.col-0 {width:0%;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/* For large-screens: */
@media only screen and (min-width: 1201px) {
	body{font-size:100%;}
	.col-0 {width:0%;}
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

/*************************************************************************/
/**							TEMPLATE CSS								**/
/*************************************************************************/

#available-cards {
    overflow-y: auto;
    height: 100vh;
}

.card .card_type {
    float: right;
    padding: 0.2rem;
    border-radius: 0.2rem;
}
.card_type{color: #fff;}
.card_type.spell{background-color:purple;}
.card_type.monster{background-color:green;}
.card_type.trap{background-color:orange;}


label.card-field-label {
    text-transform: capitalize;
    font-weight: bold;
    float: left;
    text-indent: 0.5rem;
	margin-right: 0.5rem;
	color: #3498db;
}

h2.list-similar-title{
	text-transform: capitalize;
}

#details {
    display: flex;
    flex-wrap: wrap;
}

#details .card_type {
    float: left;
    padding: 0.2rem;
    border-radius: 0.2rem;
}